p {
    text-align: center;
    background-color: blue;
    font-size: 24pt;
    font-family: Calibri;
    color: white;
}

h1 {
    text-align: center;
    background-color: purple;
    font-size: 24pt;
    font-family: Calibri;
    border-radius: 10px;
}
    